/* Background ................................. */
section::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#1bdcdc, #9733ee);
  clip-path: circle(30% at right 80%);
  z-index: -1;
}

section::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e55d87, #5fc3e4);
  clip-path: circle(20% at 10% 10%);
  z-index: -1;
}
/* Background ................................. */

.container {
  font-family: "Fira Code", monospace;
  word-wrap: initial;
  text-align: start;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 1em;
  width: 65%;
}

.container .card {
  position: relative;
  width: 100%;
  background: rgba(8, 8, 8, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 6em;
  margin-bottom: 4em;
  opacity: 1;
  word-wrap: initial;
}

.font {
  color: #355c7d;
  font-size: 1rem;
}

.blod {
  font-weight: bold;
}

.myImg {
  transform: scaleX(-1);
  filter: contrast(180%);
}

.description-text {
  display: inline-block;
  margin: 1em auto auto auto;
  text-align: left;
}

.description-text h1:nth-child(1) {
  color: #355c7d;
  font-family: "Fira Code", monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 2s steps(40, end) forwards;
}

.description-text h1:nth-child(2) {
  white-space: nowrap;
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  background: linear-gradient(to right, #20c490, #028db0);
  font-weight: 800;
  font-size: 2em;
  width: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: string-animation 2.2s steps(40, end) 2s forwards,
    blink 0.5s step-end infinite alternate;
}

@keyframes string-animation {
  0% {
    /* background-position: 0 0; */
    opacity: 0;
    width: 0;
  }
  1% {
    /* background-position: 0 0; */
    opacity: 1;
    border-right: 2px solid #a5a5a5;
  }
  50% {
    /*background-position: 150px 0;*/
    opacity: 1;
    border-right: 2px solid #a5a5a5;
  }
  100% {
    /* background-position: 400px 0; */
    opacity: 1;
    border-right: 2px solid #a5a5a5;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 2px solid #a5a5a5;
  }
  100% {
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skillscard#skillscard {
  background-color: #ffffff09;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: #00000038 solid 1px;
  text-align: center;
  width: 8em;
  padding: 0.1em;
  margin: 2em;
  opacity: 1;
  word-wrap: initial;
  border-radius: 3px;
}

.p-card#p-card {
  background-color: #ffffff09;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: #00000038 solid 1px;
  width: auto;
  margin: 2em 2em 0 0;
  padding: 1em;
  word-wrap: initial;
  border-radius: 6px;
}

.p-img {
  width: 20em;
  height: 20em;
  border-radius: 5px;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* border: 3px solid rgb(64, 64, 64); */
  background-color: rgba(255, 255, 255, 0.204);
  padding: 3em;
  z-index: 1;
}

#modal-img {
  justify-content: center;
  max-width: 95vw;
  max-height: 95vh;
  z-index: 2;
  border-radius: 0.5em;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal-close {
  opacity: 0.7;
  position: fixed;
  top: 2em;
  right: 2em;
  height: 2em;
  width: 2em;
  border-radius: 5px;
  background-color: #ffffff7f;
  z-index: 3;
}
